@import './boundaries.scss';

.codeEditorContainer{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 30;
  top: 0;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  flex-direction: column;

  .editorLayout{
    max-width: 950px;
    max-height: 85vh;
    display: flex;
    width: 100%;
    height: 100%;

    textarea.codeEditor{
      flex: 1;
      background-color: $grey;
      color: white;
      padding: 15px;
      font-size: 15px;
      resize: none;
      border-color: $greyDarkest;
      white-space: pre;

      &:focus{
        outline: none;
      }
    }

    .editorHelp{
      box-sizing: border-box;
      min-width: 250px;
      flex: 0;
      background-color: $greyDarkest;

      .tabSelector{
        display: flex;
        background-color: $greyDark;

        #varsTab,#helpTab{
          padding: 15px;
          font-size: 20px;
          cursor: pointer;

          &.active{
            background-color: $greyDarkest;
          }

        }
        #varsTab{
          flex:1;
        }
        #helpTab{
          flex:0;
        }
      }

      .tabSection{
        padding: 15px;
      }
    }
  }

  .editorFooter{
    flex: 0;
    width: 100%;
    max-width: 950px;
    padding: 10px;
    background-color: $greyDarkest;
    box-sizing: border-box;
    text-align: right;
  }
}