$lightGrey: #899198;
$grey: #424242;
$greyDark: #3C3F41;
$greyDarkest: #313335;
$almostDark: #272727;

$sideBarWidth:200px;

body{
  background-color: $grey;
  color: $lightGrey;
  margin: 0;
}
boilerplate{
  display: block;
  height: 100%;
  margin-right: $sideBarWidth;
}

terrain{
  display: block;
  border:1px solid $greyDarkest;
  margin: 0 auto;
  position: relative;

  .minion{
    position: absolute;
    cursor: pointer;
  }
}

.button{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: $greyDarkest;

  &.clear{
    background-color: $greyDark;
  }

  &.block{
    display: block;
  }
}

.minion{
  background-color: #fff;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #f77341;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  -webkit-transition: top 0.35s, left 0.35s;
  transition: top 0.35s, left 0.35s;

  .eye{
    background-color: black;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;

    &.U{
      top: -5%;
      left: 25%;
    }
    &.D{
      top: 50%;
      left: 25%;
    }
    &.L{
      top: 25%;
      left: -5%;
    }
    &.R{
      top: 25%;
      left: 50%;
    }
  }
}