$lightGrey: #899198;
$grey: #3C3F41;
$greyDark: #313335;
$greyDarkest: #424242;

body{
  background-color: $grey;
  color: $lightGrey;
}

terrain{
  height: 500px;
  width: 500px;
  display: inline-block;
}