$lightGrey: #899198;
$grey: #424242;
$greyDark: #3C3F41;
$greyDarkest: #313335;
$almostDark: #272727;

$sideBarWidth:200px;

body{
  background-color: $grey;
  color: $lightGrey;
  margin: 0;
  font-family: sans-serif;
}
boilerplate{
  display: block;
  height: 100%;
  margin-right: $sideBarWidth;
}

terrain{
  display: block;
  border:1px solid $greyDarkest;
  margin: 0 auto;
  position: relative;

  .minion{
    position: absolute;
    cursor: pointer;
  }
}

.button{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: $greyDarkest;

  &.clear{
    background-color: $greyDark;
  }

  &.block{
    display: block;
    text-align: center;
  }
}