@import './boundaries.scss';

sidebar{
  position: fixed;
  width: $sideBarWidth;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: $greyDarkest;
  z-index: 10;
  padding: 25px;
  box-sizing: border-box;

  .minionAvatar{
    background-color: #3C3F41;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;

    .minionContainer{
      flex: 0;
      padding-right: 10px;

      .minion, .storage{
        position: relative;
      }
    }
    .indicators{
      flex: 1;

      .ind {
        height: 10px;
        margin-bottom: 5px;
        font-size: 13px;

        &.bold{
          font-weight: bold;
        }

        &:last-of-type{
          margin-bottom: 0;
        }
      }

      &.text{
        text-align: center;
      }

      .health{
        background-color: #36c50e;
      }
      .energy{
        background-color: #11caff;
      }
      .load{
        background-color: #daf745;
      }
    }
  }
}